
@{
    ViewData["Title"] = "FoodiesProfiles";
    List<FoodApp.Models.ModelFoodie> foodies = ViewBag.Foodies;
}


    <div class="mt-2">
       
        <h1>FoodiesProfiles</h1>
        <div class="row mt-3">

            @foreach (var item in foodies)
            {
                <div class="card border-dark mb-3 mr-3" style="max-width: 18rem;">
                    <div class="card-header">@item.Name</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            }


        </div>
    </div>
               

              

       



