@{
    ViewData["Title"] = "Home Page";
}
<section class="banner_w3lspvt" id="home">
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />
        <input type="radio" name="slides" id="slides_4" />
        <ul>
            <li>
                <div class="banner-top">
                    <div class="overlay">
                        <div class="container">
                            <div class="w3layouts-banner-info text-center">
                                <h3 class="text-wh">Harvesting</h3>
                                <h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
                                <p class="text-li mx-auto mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua nostrud exerci sed.
                                </p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top1">
                    <div class="overlay1">
                        <div class="container">
                            <div class="w3layouts-banner-info text-center">
                                <h3 class="text-wh">Farming</h3>
                                <h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
                                <p class="text-li mx-auto mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua nostrud exerci sed.
                                </p>
                                <a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top2">
                    <div class="overlay">
                        <div class="container">
                            <div class="w3layouts-banner-info text-center">
                                <h3 class="text-wh">Cultivating</h3>
                                <h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
                                <p class="text-li mx-auto mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua nostrud exerci sed.
                                </p>
                                <a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top3">
                    <div class="overlay1">
                        <div class="container">
                            <div class="w3layouts-banner-info text-center">
                                <h3 class="text-wh">Harvesting</h3>
                                <h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
                                <p class="text-li mx-auto mt-2">
                                    Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua nostrud exerci sed.
                                </p>
                                <a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
        </div>
    </div>
</section>
<!-- //banner -->
<!-- about -->
<section class="about py-1">    
    <div class="container py-md-4">
        <div class="feature-grids row mt-5 text-center">
            <div class="col-lg-4 col-md-6 ">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-user" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4">Foodies Count</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-apple" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4"> Delivery Status</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-bicycle" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4">Payment Status</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-pagelines" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4">Menus</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-pagelines" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4">Foodies Profile</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-pagelines" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4">Add New Foodie</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-pagelines" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4">Add New Delivery Boy</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="bottom-gd px-2 text-center">
                    <button>
                        <div class="f-icon">
                            <span class="fa fa-pagelines" aria-hidden="true"></span>
                        </div>
                    </button>
                    <h3 class="mt-4">Settings</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<!-- Why Choose Us -->
<section class="serives-agile py-5" id="works">
    <div class="container py-md-5">
        <h3 class="heading mb-5 text-center"> Why Choose Us</h3>
        <div class="welcome-bottom text-center">
            <div class="welcome-grid">
                <span class="fa fa-apple"></span>
                <h4 class="my-3">Grains </h4>
                <p>quis nostrum ullamet corporis suscipit.</p>
            </div>
            <div class="welcome-grid">
                <span class="fa fa-skyatlas"></span>
                <h4 class="my-3">Seed Traits</h4>
                <p>quis nostrum ullamet corporis suscipit.</p>
            </div>

            <div class="welcome-grid mt-md-0 mt-5">
                <span class="fa fa-yelp"></span>
                <h4 class="my-3">Safety</h4>
                <p>quis nostrum ullamet corporis suscipit.</p>
            </div>
            <div class="welcome-grid mt-lg-0 mt-md-4 mt-5">
                <span class="fa fa-viadeo"></span>
                <h4 class="my-3">Cultivation</h4>
                <p>quis nostrum ullamet corporis suscipit.</p>
            </div>
            <div class="welcome-grid mt-lg-0 mt-md-4 mt-5">
                <span class="fa fa-pagelines"></span>
                <h4 class="my-3">Environment</h4>
                <p>quis nostrum ullamet corporis suscipit.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- Why Choose Us -->

<!-- Products & Services -->
